<!DOCTYPE html>
<html>
  <head>
   <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default_head' %>
    <%= render 'layouts/shim' %>
    
  </head>

  <body>
     <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!--<div class="alert alert-%= message_type %>">%= message %></div>-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!--ビルトインのdebugメソッドとparams変数を使って、-->
      <!--各プロフィールページにデバッグ用の情報が表示される -->
      <!--if Rails.env.development? デバッグ情報はRailsの3つのデフォルト環境のうち、-->
      <!--開発環境 (development) だけで表示される-->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
